
button {
  width: 100px;
  height: 30px;
  margin: 10px 10px;
}

.title {
  line-height: 44px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.nav a {
  margin-top: 15px;
  margin-left: 25px;
  text-decoration: none;
  color: #ddd;
  transition: 0.2s color;
}

.nav a:hover {
  color: #fff;
}

.nav {
  background: #B40A04;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
}

button {
  width: 150px;
  height: 40px;
  background-color:#B40A04;
  /* border: 1px solid red; */
  color:#fff;
  border: none;
  font-size: 15px;
  margin: 3px;
}
