/* 
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */

.gifs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}


.layout {
  display: none;
}

.gifsMosaic {
  /* margin: 0 auto; */
  column-gap: 1em;
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  margin-top:5px;
}

@media only screen and (max-width: 540px){
  .gifsMosaic {
    column-count: 1;
  }
}
@media only screen and  (min-width: 700px) {
  .gifsMosaic {
    column-count: 2;
  }
}
@media only screen and (min-width: 1000px) {
  .gifsMosaic {
    column-count: 3;
  }
}

@media only screen and ( min-width: 1300px) {
  .gifsMosaic {
    column-count: 4;
  }
}
